@import '../../styles/variables.scss';

.footer_items {
    font-size: 18px;
    margin-bottom: 32px;
    display: block;
}

.title {
    color: $font-red-color;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 10px 0
};
