@import '../../../../../styles/variables.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}