@import '../../styles/variables.scss';

.icon_container svg {
    fill: $ico-light-color;
    height: 21px;
    width: auto;
    margin: 5px 5px;
}

.social {
    display: flex;
    align-items: start;
}