@import '../../styles/variables.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 2s;
    z-index: 999;
}

.modal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_close_button * {
    fill: $ico-light-color;
}

.modal_close_button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 56px;
    cursor: pointer;
}

.modal_content {
    position: relative;
    height: 100%;
}

/* open */

.modal--entering,
.modal--entered {
    opacity: 1;
}

/* close */

.modal--exiting,
.modal--exited {
    opacity: 0;
}