@import '../../../../styles/variables.scss';

video {
    width: 100vw;
};

.play_button {
    width: 3vw;
    height: auto;
    cursor: pointer;
};

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
}