@import '../../styles/variables.scss';

.container {
    padding: 35px 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100%;
    }
}

.content {
    padding: 35px 0 20px;
    margin: 0 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
        color: $font-red-color;
        font-size: 60px;
        font-weight: 700;
        font-family: 'Eurostile-extended' !important;
        margin: 30px 0 ;
    }

    h2 {
        padding: 35px;
        color: $font-light-color;
        text-align: center;
        font-size: 24px;
        font-weight: 900 !important;
        font-family: 'Eurostile-extended' !important;
    }

    p {
        padding: 35px;
        line-height: 24px;
        font-size: 16px;
    }
}