@import '../../../styles/variables.scss';

.lightTheme {
    background-color: $background-color;
    position: relative;

    h3 {
        color: $font-light-color;
    }

    p {
        color: $font-light-color;
    }
}

.darkTheme {
    background-color: $background-color-light;
    position: relative;

    h3 {
        color: $font-dark-color;
    }

    p {
        color: $font-dark-color;
    }
}

.content {
    padding: 35px 35px 0;
    z-index: 999;

    .logo {
        padding-bottom: 15px;
        width: 275px;
        height: auto;
    }

    h3 {
        font-family: 'Eurostile-extended';
        font-size: clamp(21px, 5vw, 30px);
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    p {
        font-weight: 200;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
}

.preview {
    position: relative;

    img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .content {
        padding: 35px 65px 0;

        .logo {
            width: 400px;
        }
    }
}

@media screen and (min-width: 980px) {
    .wrapper {
        overflow: hidden;
    }

    .content {
        padding: 0;
        padding-top: 68px;
        padding-left: 124px;

        .logo {
            padding-bottom: 15px;
            width: 550px;
            height: auto;
        }
    }

    .preview {
        width: 100vw;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
}

@media screen and (min-width: 1300px) {
    .content {
        position: absolute;
    }
}