@import '../../../styles/variables.scss';

.wrapper {
    width: clamp(270px, 80vw, 580px);
    height: clamp(270px, 80vw, 580px);
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.wrapper:hover {
    .container {
        display: block;
    }

    .content {
        img {
            filter: brightness(50%);
        }
    }
}

.container {
    width: clamp(270px, 800vw, 580px);
    height: clamp(270px, 80vw, 580px);
    position: relative;
    cursor: pointer;
    display: none;

    .zoom_btn {
        fill: $font-light-color;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.content {
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

@media screen and (min-width: 1320px) {
    .wrapper {
        margin: 0 30px 30px 0;
    }
}