@import '../../styles/variables.scss';

.img_container {
    padding: 35px 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100%;
    }
}