@import '../../../../styles/variables.scss';

.wrapper {
    padding: 30px 0;
}

.imgContainer {
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    img {
        width: 100%;
        cursor: pointer;
    }
}

.content {
    max-width: 600px;
    padding: 0 20px;
    line-height: 1.7em;
    font-weight: 400;

    a {
        color: $font-light-color;
        font-family: 'Eurostile-extended';
        font-size: 22px;
        font-weight: lighter;
        text-decoration: none;
    }
}

.wrapper>a {
    padding: 0 20px;
    font-style: 20px;
    font-weight: 600;
    line-height: 1.2em;
    color: $font-red-color;
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .imgContainer {
        max-width: 400px;
    }

    .content {
        max-width: 400px;
        min-height: 380px;
    }
}

// @media screen and (min-width: 1110px) {
//     .content {
//         min-height: 380px;
//     }
// }