@import '../../styles/variables.scss';

.lightTheme {
    background-color: $background-color;
    position: relative;

    h3 {
        color: $font-light-color;
    }

    span {
        color: $font-light-color;
    }
}

.darkTheme {
    background-color: $background-color-light;
    position: relative;

    h3 {
        color: $font-dark-color;
    }

    span {
        color: $font-dark-color;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

}

.img_container {
    position: relative;
    overflow-x: hidden;

    img {
        width: 100%;
        margin-bottom: 30px;
    }
}

.container {
    padding: 8px 35px 0;
    margin-bottom: 30px;

    h3 {
        font-family: 'Eurostile-extended';
        font-size: 21px;
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    span {
        font-weight: 200;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 8px 70px 0;
    }
}

@media screen and (min-width: 980px) {
    .container {
        padding: 0;
        position: absolute;
        width: 20%;
        top: 10%;
        left: 65%;

        h3 {
            font-size: 30px;
        }
    }

    .img_container {
        width: 100vw;
        height: 927px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            margin: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}